.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
}

.header__menu {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    font-size: 18px;
    text-decoration: none;
    text-underline-offset: 3px;
    line-height: 21px;
}

.header__link:hover {
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__link_active:hover {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
    display: block;
}

.header__address {
    justify-self: end;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 18px;
    line-height: 24.3px;
    font-style: normal;
}

.header__address p {
    margin: 0;
}

.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 757px;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cover__title {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 100px;
    font-weight: 700;
    line-height: 129px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 30px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 19px;
}

.bet-button {
    padding: 12px 31px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 22px;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

.lots {
    padding: 180px 24px;
}

.lots__heading {
    margin-bottom: 27px;
    padding-left: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: 700;
}

.card__text {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    color: #000000;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 25px;
    padding: 0 24px 180px;
}

.about__column {
    display: flex;
    flex-direction: column;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 50%;
    align-self: center;
}

.about__logo-image {
    width: 148px;
}

.about__title {
    margin-top: 136px;
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about__text {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 180px 50px 92px;
}

.footer__address {
    justify-self: start;
    text-align: left;
    max-width: 240px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__social-list {
    justify-self: end;
    display: flex;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
    display: block;
}